
<div class="main">
  <div class="innerCursor"></div>
  <div class="outterCursor"></div>
  <header class="header">
      <ul class="menu">
        <li class="menu__item"><a href="" class="menu__link">Accueil</a></li>
        <li class="menu__item"><a href="#section1"class="menu__link">Me :)</a></li>
      </ul>
      <ul class="menu menu-right">
        <li class="menu__item" class="login_link"><a href="/Login"  class="menu__link" routerLink="Login">secretpage???</a></li>
      </ul>
    </header>

    <div class="router-wrapper">
      <router-outlet>
      </router-outlet>
    </div>
</div>

